@charset "utf-8";

.snow-item { position: absolute; float: left; background-image: url(images/sprite.png); background-repeat: no-repeat; }
.snow-item-01 { width: 30px; height: 30px; background-position: -534px -0px; }
.snow-item-02 { width: 15px; height: 28px; background-position: -564px -0px; }
.snow-item-03 { width: 13px; height: 23px; background-position: -0px -66px; }
.snow-item-04 { width: 15px; height: 18px; background-position: -91px -66px; }
.snow-item-05 { width: 18px; height: 11px; background-position: -185px -51px; }
.snow-item-06 { width: 30px; height: 30px; background-position: -203px -51px; }
.snow-item-07 { width: 13px; height: 16px; background-position: -119px -66px; }
.snow-item-08 { width: 17px; height: 12px; background-position: -132px -66px; }
.snow-item-09 { width: 13px; height: 16px; background-position: -106px -66px; }
.snow-item-10 { width: 20px; height: 25px; background-position: -579px -0px; }
.snow-item-11 { width: 17px; height: 21px; background-position: -74px -66px; }
.snow-item-12 { width: 33px; height: 39px; background-position: -391px -0px; }
.snow-item-13 { width: 55px; height: 35px; background-position: -479px -0px; }
.snow-item-14 { width: 77px; height: 62px; background-position: -108px -0px; }
.snow-item-15 { width: 82px; height: 49px; background-position: -243px -0px; }
.snow-item-16 { width: 108px; height: 66px; background-position: -0px -0px; }
.snow-item-17 { width: 61px; height: 22px; background-position: -13px -66px; }
.snow-item-18 { width: 55px; height: 37px; background-position: -424px -0px; }
.snow-item-19 { width: 58px; height: 51px; background-position: -185px -0px; }
.snow-item-20 { width: 66px; height: 44px; background-position: -325px -0px; }
